@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');

body, html{
    height:100%;
    margin: 0px;
    padding: 0px;
    width:100%;
    position: fixed;
    background-attachment: fixed;
    background-image:-webkit-linear-gradient(200deg,#fff 50%, #344A84 120%);
    background-image:-moz-linear-gradient(200deg,#fff 50%, #344A84 120%);
    background-image:linear-gradient(200deg,#fff 50%, #344A84 120%);
}

p{
	font-family:Didact Gothic;
}

.signin-layout1{
	margin-top:160px;
}

.signin-layout2{
	margin-top:115px;
}

.net-head{
	color: #344A84;
	font-family:Didact Gothic;
	font-size: 35px;
	font-weight: bold;
}
.net-head2{
	font-size: 20px;
}


.form-box

.signin-button{
	  background-color:#344A84;
	  border: none;
	  color: white;
	  width: 300px;
	  padding-bottom: 3px;
	  padding-top: 3px;
	  text-align: center;
	  font-size: 30px;
	  margin: 4px 2px;
	  font-family: Didact Gothic;
	  border-radius: 10px;
	  font-weight: bold;
	  opacity: 0.8;
	}

input[type=text], input[type=email], input[type=password]{
    background: #F5F5F5;
    box-sizing: border-box;
    border:none;
    border-radius: 5px;
    width: 300px;
    font-family: Didact Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #344A84;
    opacity: 0.8;
}

input[type=text], select {
  width: 300px;
  padding: 6px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 6px;
  box-sizing: border-box;

}

input[type=email], select {
  width: 300px;
  padding: 6px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 6px;
  box-sizing: border-box;

}


input[type=password], select {
  width: 300px;
  padding: 6px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 6px;
  box-sizing: border-box;
}
